.custom__input{
  padding-left: 10px;
  transition: 0.2s;
  border: none;
  border-radius: 12px;
  outline: 4px solid rebeccapurple;
  width: 90%;
  height: 85%;
  font-size: 2.5rem;
  font-family: 'Sintony', sans-serif;
}
.custom__input:focus{
  outline: 4px solid orangered;
}
